$catalina-blue: (
  50: #eaf6ff,
  100: #d8efff,
  200: #b9dfff,
  300: #8fc8ff,
  400: #64a3ff,
  500: #407eff,
  600: #1f56ff,
  700: #1446ee,
  800: #143ebf,
  900: #193a96,
  950: #142b73,
);

$atlantis: (
  50: #faffe5,
  100: #f2ffc6,
  200: #e4ff94,
  300: #cfff56,
  400: #b7f724,
  500: #95d904,
  600: #76b200,
  700: #588704,
  800: #476a0a,
  900: #3c590e,
  950: #1e3201,
);

$colors: (
  'c-black': #000,
  'c-white': #fff,
);
